/* Importando a fonte */
@font-face {
  font-family: 'Chicago';
  src: url('fonts/chicagoflf.ttf') format('truetype');
}

/* Estilo geral */
body {
  background-color: #c3d6f0; /* azul clarinho típico do Mac OS */
  font-family: 'Chicago', sans-serif; /* fonte clássica do Mac */
  color: #000;
  margin: 0;
  padding: 20px;
}

/* Janela central estilo Mac */
.window {
  background-color: #ececec;
  border: 2px solid #a0a0a0;
  width: 600px;
  margin: auto;
  padding: 10px;
  box-shadow: 2px 2px 0 #666;
  border-radius: 6px;
  font-size: 14px;
}

header{
  font-family: 'Chicago', sans-serif;
  margin: 0;
  padding: 40px 0;
  font-size: 32px;
  text-align: center;
}

h1{
  font-size: 50px;
  cursor: pointer;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
   hsl(147, 25%, 27%) 0,
   hsl(147, 25%, 61%) 7%, 
   hsl(147, 25%, 100%) 14%, 
   hsl(194, 25%, 66%) 21%, 
   hsl(194, 25%, 33%) 28% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite linear;
}

@keyframes shine {
  0%{
    background-position: 0;
  }
  60%{
    background-position: 60%;
  }
  100%{
    background-position: 100%;
  }
}
  
  /* Conteúdo principal */
  main {
    font-family: 'Chicago', sans-serif;
    font-size: 16px;
    color: white; /* cor da letra */
    text-shadow: -1px -1px 0 black,
                1px -1px 0 black,
                -1px 1px 0 black,
                1px 1px 0 black;
    padding: 20px;
  }
  
  /* Seções */
  section {
    margin-bottom: 30px;
  }
  
  /* Rodapé */
  footer {
    text-align: center;
    padding: 30px;
    font-size: 0.8em;
  }
  