/* Importando a fonte */
@font-face {
  font-family: 'Minecraft';
  src: url('meu-site/fonts/Minecraft.ttf') format('truetype');
}

/* Estilo geral */
body {
  font-family: 'Minecraft', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: white; /* cor da letra */
  text-shadow: -1px -1px 0 black,
                1px -1px 0 black,
                -1px 1px 0 black,
                1px 1px 0 black;
  background: linear-gradient(to bottom, #dfe9f3, #ffffff)
  /* background-image: url('imagens/frutiger-aero.gif'); */
  /* background-size: cover; */
  /* background-position: center; */
}

.container{
  max-width: 900px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(255, 0, 125, 0.2);
  padding: 30px;
  border: 2px solid #ccc;
  backdrop-filter: blur(10px);
}

  /* Cabeçalho */
  header {
    text-align: center;
    padding: 40px 0;
    background: linear-gradient(45deg, #ffffff5a, #000);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
  }
  
  /* Contorno */
  h1 {
    color: white; /* cor da letra */
    text-shadow: -1px -1px 0 black,
                  1px -1px 0 black,
                 -1px 1px 0 black,
                  1px 1px 0 black;
  }

  /* Conteúdo principal */
  main {
    font-family: 'Minecraft', sans-serif;
    font-size: 16px;
    color: white; /* cor da letra */
    text-shadow: -1px -1px 0 black,
                1px -1px 0 black,
                -1px 1px 0 black,
                1px 1px 0 black;
    padding: 20px;
  }
  
  /* Seções */
  section {
    margin-bottom: 30px;
  }
  
  /* Rodapé */
  footer {
    text-align: center;
    padding: 40px;
    background: linear-gradient(90deg, #ffffff5a, #000);
    background-color: #a7a7a77a;
    font-size: 0.8em;
    border-top: 1px solid #000000;
  }
  